.div-usuario{
    margin-top: 5%;
    width: 100%;
    height: 150px;
    display: block;
    text-align: center;
    .usuario{
        width: auto;
        height: 100%;
        border-radius: 50%;
    }
}
.informacion-usuario{
    margin-top: 5%;
}